<div class="wrapper">
  <mat-card class="welcome">
    <img mat-card-md-image src="favicon.ico">
    <mat-card-title>Bienvenue sur votre Pokédex</mat-card-title>
    <mat-card-content>
      <p>Vous pouvez rechercher un pokémon par son nom ou son ID.</p>
      <p>Vous pouvez également rechercher un pokémon par type.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/auth/login">Se connecter</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="newsletter">
    <mat-card-title>Newsletter</mat-card-title>
    <mat-card-content>
      <p>Vous pouvez vous inscrire à notre newsletter pour recevoir les dernières informations sur les pokémons.</p>
      <form class="example-form" #emailForm="ngForm" (ngSubmit)="onSubscribe(emailForm)">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="userEmail" name="userEmail" type="email">
          <mat-error>Email invalid</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">S'inscrire</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

